* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f7f7f7;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar h2 {
    color: black;
}

.navbar nav {
    display: flex;
    gap: 25px;
}

.navbar nav a {
    font-size: 18px;
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar nav a:hover,
.navbar nav a.active {
    color: #ff9800;
}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 20px;
}

.form-box {
    background: #fff;
    padding: 40px;
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #33e4a9;
}

.form-box input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
}

.form-box button {
    width: 100%;
    padding: 12px;
    background: #33e4a9;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.form-box button:hover {
    background: #28b78b;
}

.form-box p {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;

}

